@{
    ViewData["Title"] = "Fixtures";
}

<br/><br/>
     <div class="container">
         <div class="row">
             <div class="col-4"></div>
             <div class="col-4">
                 @await Component.InvokeAsync("Gameweeks", false)
             </div>
             <div class="col-4"></div>
         </div>
         <div class="row" id="fixtures">

         </div>
     </div>

<script>
    $('#fixtures').load('/@ViewBag.Controller/@ViewBag.Action?gameweekId=1');

    $('#gameweek').on('change', function () {
        $('#fixtures').load(`/@ViewBag.Controller/@ViewBag.Action?gameweekId=${$('#gameweek').val()}`);
    });
</script>
    
