@{
    ViewData["Title"] = "Fixtures";
}

<br/>
     <div class="container">
         <div class="row">
             <div class="col-3"></div>
             <div class="col-6">
                 @await Component.InvokeAsync("Gameweeks", new {includeStart = true})
             </div>
             <div class="col-3"></div>
         </div>
         <br/>
         <div class="row" id="fixtures" style="background-color: #ffffff; filter: drop-shadow(10px 10px 12px #38003c);">

         </div>
     </div>

<script>
    $('#fixtures').load('/@ViewBag.Controller/@ViewBag.Action?gameweekId=1');

    $('#gameweek').on('change', function () {
        $('#fixtures').load(`/@ViewBag.Controller/@ViewBag.Action?gameweekId=${$('#gameweek').val()}`);
    });
</script>
    
