@model Fantasy.Web.Areas.Administrator.Models.GameweekListingViewModel
@{
    ViewData["Title"] = "Gameweeks";
}

@foreach (var gw in Model.Gameweeks)
{
    <div>
        <div class="row">
            <div class="col">@gw.Name</div>
            <div class="col test" > Click Me!</div>
        </div>
        <div class="row"></div>
    </div>
    break;
}

<script>
    $(document).ready(function () {
        console.log('ola');
        var test = $("div .test");

        test.click(function() {
            console.log($(test.parent().parent().children()[1]));
            $(test.parent().parent().children()[1]).load("/Administrator/Gameweeks/GetPartial");
        });

    });
</script>