@model Fantasy.Services.Models.GoalkeeperStatisticsServiceModel
@{
    ViewData["Title"] = "_PartialGoalkeeperStatistics";
}

<h1>_PartialGoalkeeperStatistics</h1>

@{
    var model = Model;
    var a = Model.MatchWins;
}