@model Fantasy.Services.Models.IHaveStatistics
@{
    ViewData["Title"] = "mid";
}
<div style="background-color: #ffffff">
    @{
        @foreach (var property in Model.GetType().GetProperties().ToList())
         {
             <h3>@property.Name.ToSentenceCase()---- @property.GetValue(Model)</h3>
         }
    }
</div>