@{
    ViewData["Title"] = "Players";
}
<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="col" style="margin-top: -15px">
                <div class="row" style="margin-top: 5px">
                    <div class="row" style="background-color: #38003c">
                        <div class="row" style="color: #ffffff">
                            &nbsp; Club
                        </div>
                    </div>
                    <br/><br/>
                      @await Component.InvokeAsync("FootballClubs", new {includeAll = true, useShortNames = false})
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="row" style="background-color: #38003c">
                        <div class="row" style="color: #ffffff">
                           &nbsp; Position
                        </div>
                    </div>
                    <br/><br/>
                    @await Component.InvokeAsync("FootballPlayerPositions", true)
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="row" style="background-color: #38003c">
                        <div class="row" style="color: #ffffff">
                            &nbsp; Name
                        </div>
                    </div>
                    <br/><br/>

                    <input class="form-control" id="player" style="filter: drop-shadow(0px 5px 8px #38003c)"/>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="row" style="background-color: #38003c">
                        <div class="row" style="color: #ffffff">
                            &nbsp; Order By
                        </div>
                    </div>
                    <br/><br/>
                    <select class="form-control" id="order" style="filter: drop-shadow(0px 5px 8px #38003c)">
                        <option value="Name" Text="Name">Name</option>
                        <option value="priceAscending">Price Ascending</option>
                        <option value="priceDescending">Price Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-8" id="players">
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#players').load('/@ViewBag.Controller/@ViewBag.Action');

        $('#position').on('change', filter);
        $('#player').on('keyup', filter);
        $('#club').on('change', filter);
        $('#order').on('change', filter);

        function filter() {
            $('#players')
                .load('/@ViewBag.Controller/@ViewBag.Action' 
                    + '?clubId=' +  $('#club').val()
                    + '&positionId=' + $('#position').val()
                    + '&playerName=' + $('#player').val().replace(new RegExp(' ', 'g'), '_')
                    + '&order=' + $('#order').val());
        }
    });
</script>