@{
    ViewData["Title"] = "_PartialSystem352";
}
<br />
<div class="row">
    <div class="col-12 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-4 text-right">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-4 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-4 text-left">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-3 text-right">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-2 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-2 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-2 text-left">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-3 text-left">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-3 text-left">
    </div>
    <div class="col-3 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-3 text-center">
        <img class="fp" freeslot="yes" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png"
             style="width: 5vw; cursor: pointer" id="m1" />
    </div>
    <div class="col-3 text-left">
    </div>
</div>


