
@{
    ViewData["Title"] = "Index";
}

    <div>
        <a asp-area="Administrator" asp-controller="Gameweeks" asp-action="All" class="btn btn-info">View Gameweeks</a>
        <a asp-area="Administrator" asp-controller="Fixtures" asp-action="Create" class="btn btn-info">Create Fixture</a>
        <a asp-area="Administrator" asp-controller="Gameweeks" asp-action="Gameweeks" class="btn btn-info">Test</a>


    </div>

