
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <br/>
    <div>
        <a asp-area="Administrator" asp-controller="Gameweeks" asp-action="All" class="btn btn-info">View Gameweeks</a>
        <br /><br />

        <a asp-area="Administrator" asp-controller="Fixtures" asp-action="Create" class="btn btn-info">Create Fixture</a>
        <br /><br />

        <a asp-area="Administrator" asp-controller="Database" asp-action="SeedPlayers" class="btn btn-info">Seed Players</a>
        <br /><br />

        <a asp-area="Administrator" asp-controller="Database" asp-action="SeedStatistics" class="btn btn-info">Seed Statistics</a>
        <br /><br />

        <a asp-area="Administrator" asp-controller="Players" asp-action="Add" class="btn btn-info">Add New Player</a>
        <br /><br />

    </div>
</div>
