
@{
    ViewData["Title"] = "Index";
}

    <div>
        <a asp-area="Administrator" asp-controller="Gameweeks" asp-action="All" class="btn btn-info">View Gameweeks</a>
        <a asp-area="Administrator" asp-controller="Fixtures" asp-action="Create" class="btn btn-info">Create Fixture</a>
        <a asp-area="Administrator" asp-controller="Database" asp-action="SeedPlayers" class="btn btn-info">Seed Players</a>
        <a asp-area="Administrator" asp-controller="Database" asp-action="seedStatistics" class="btn btn-info">Seed Statistics</a>



    </div>

